[Unit]
Description=OpenShift Master
Requires=network.target
After=docker.target network.target

[Service]
Environment="OPENSHIFT_DIND=true"
ExecStart=/usr/bin/openshift start
WorkingDirectory=/var/lib/origin
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
