[Unit]
Description=Ensure mount propagation for /

[Service]
Type=oneshot
ExecStart=/usr/bin/mount --make-shared /

[Install]
RequiredBy=docker.service
